{% extends "layout.jinja2" %}

{% block content %}

       
<div class="container" style="display: flex;align-items: center;justify-content: center;margin-top: 50px;">
    <div class='jumbotron' style='width: 100%; '>

        <center>
            <div style="margin-bottom: 40px;">
                <h1>Welcome to Book Ticket Reservation {{request.session.username}} !</h1>
            </div>
        </center>

        <form method='POST' action='{{request.route_url('book')}}'>
            <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">

            <div class="form-group row">
                <label class='form-label col-sm-2' for="name">Source</label>
                <div class='col-sm-10'>

                    <select class="form-control" id="source" name="source">
                        {%for t in sources%}
                        <option value={{t|replace_underscore_with_space}}>{{t|title}}</option>
                        {% endfor %}
                    </select>

                </div>

            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="name">Destination</label>
                <div class='col-sm-10'>
                  
                    <select class="form-control" id="destination" name="destination">
                        {%for t in destinations%}
                        <option value={{t|replace_underscore_with_space}}>{{t|title}}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="name">Name of the person</label>
                <div class='col-sm-10'>
                    <input type="text" class="form-control" id="name" placeholder='Enter the Name of person'
                        name="name">
                </div>
            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="name">Age</label>
                <div class='col-sm-10'>
                    <input type="number" class="form-control" id="age" placeholder='Enter the Age' name="age">
                </div>
            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="name">Gender</label>
                <div class='col-sm-10'>
                    <select class="form-control" id="gender" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>

            <center><input type="submit" class="btn btn-success" value='Book'></center>

        </form>
    </div>
</div>
        
{% endblock %}
