{% extends "layout.jinja2" %}
{% from "jinja_helpers.jinja2" import render_train_field %}

{% block content %}

       <div class='jumbotron'>
            <h3> Train Details </h3>
            <ul>
                <li>Train Number = {{train.train_number}}</li>
                <li>Train Name = {{train.train_name}}</li>
                <li>Source = {{train.source}}</li>
                <li>Destination = {{train.destination}}</li>
                <li>Time = {{train.time}}</li>
                <li>Seats Available = {{train.seats_available}}</li>
                <li>Price for 1 ticket = {{train.price}}</li>
            </ul>
        </div>
        <div style="margin-top: 50px;">
            <center><h2>People Reserved</h2></center>

            <table class="table table-striped text-center" style="width: 90%;margin-left:75px ;margin-top: 30px;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date and time of booking</th>
                    </tr>
                </thead>
                <tbody>
                    {% if persons|length == 0 %}
                    <td></td>
                    <td></td>
                    <td>No Data</td>
                    <td></td>
                    <td></td>
                    {% endif%}

                    {%for p in persons%}
                    <tr>
                        <td><a href="{{request.route_url('profile', id=p.person_id)}}">{{p.email}}</a></td>
                        <td>{{p.name|title}}</td>
                        <td>{{p.age}}</td>
                        <td>{{p.gender}}</td>
                        <td>{{p.date_and_time_of_booking|date_format}}<br>{{p.date_and_time_of_booking|time_format}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
{% endblock %}
